{
    padding: 0;
    margin: 0;
}


.Viva{
font-size: 50px;
margin-left: 35%;
color: rgb(19, 212, 19);
font-family: Arial, Helvetica, sans-serif;

}

.fondo {
    width: 50%;
    height: 30%;
margin-left: 30%;
}

.Rosario{
  font-size: 150%;
 width: 100%;
text-align: center;
color: black;

}


.corona{
margin-left: 25%;
    margin-top: 10%;
}
    
      

.Adviento {

font-size: 30px;
color: purple;
margin-left: 50%;
border-radius: 200%;

}
 

  
 

.Posadas{
    
 color: rgb(214, 39, 39);
text-align: center;
margin-right: 10%;
width: 100%;
zoom: 300%;
}
  

.Misas{
    
    font-size: 200%;
   font-family: Arial, Helvetica, sans-serif;
text-align: center;
   margin-right: 10%;
   width: 100%;
    
}
.Gracias{
    
    text-align: center;
    font-size: 40px;
font-family: serif;
border-radius: 50px;
color: rgb(6, 106, 25);
margin-right: 10%;
width: 100%;
}