{
    padding: 0;
    margin: 0;

}
h1{
    text-align: center;
    background-color: darkcyan;
color: white;
padding: 20px;
}
nav ul {
    display: block;
    background-color: #42bcf5;
    width: 98%;
  text-align: center;
  font-size: x-large;
}

nav li {
   display: inline-flex;  
}
nav a {
text-emphasis: none;
    color: rgb(223, 15, 15);
    padding: 20px;
    width: 500%;
    font-size: 40px;
}

img {
    width: 400px;
  height: 400px;
border-radius: 50px;
margin-top: 100px;
}
.contenido {
    display: flex;
margin-left: 200px;
   
}
.articulos {
    width: 80%;
border-right: 3px solid rgba(89, 225, 11, 0.59);
}
.Rosario1 {
    display: flex;
align-self: center;
    padding: 20px;
    font-size: 35px;
    color: #ba1536;
margin-right: 600px;
  
   
  
  
}
.menu-secundario {
    width: 20px;
    margin-top: 60px;
}
.menu-secundario a {
display: block;
text-align: left;
    color: rgba(240, 5, 5, 0.728);
    margin-bottom: 200px;
}
footer {
    width: 90%;
    height: 10%;
    background-color: #77bce1;
    color: rgb(24, 79, 36);
 padding-bottom: 500px;
   margin-top: -10px;
   font-size: 30px;
   border-radius: 40px;
}
footer p {
    text-align: center;
    padding: 50px;
}
